target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
logs/
bin/
lib/
src/main/resources/META-INF/sql/ddl-global.sql
src/main/resources/META-INF/sql/ddl-tenant.sql
